html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* main css */

.main {
  background-color: #0079BF;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: block;
  background: #0067A3;
}

.header__container {
  height: 55px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.kanbanName {
  font-size: 28px;
  color: white;
}

.userMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 64px;
  justify-content: space-between;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  background-color: white;
  top: 70px;
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
}

.dropdownMenu li {
  margin-top: 5px;
}

.dropdownMenu__tail {
  background-color: white;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -7px;
  left: 14px;
  transform: rotate(45deg);
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #0067A3;
  color: #ffffff;
  width: 100%;
  height: 55px;
}

.board {
  display: flex;
  max-width: 1200px;
  margin: 25px auto;
  justify-content: space-between;
}

.column {
  background-color: #EBECF0;
  border-radius: 10px;
  width: 282px;
}

.column__wrapper {
  margin: 12px;
}

.column__header {
  margin-bottom: 10px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 12px 0px;
}

.card__content {
  display: block;
  padding: 8px 10px;
}


.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.taskCounter {
  margin-right: 10px;
}

.button {
  border: 0;
  margin: 8px 0px;
  font-weight: 500;
  font-size: 110%;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.button_addTask {
  color: #5E6C84;
}

.button_addTask:hover {
  background-color: #dee0e4;
}

.button_hide {
  background-color: #0079BF;
  color: white;
  margin-left: 10px;
}

.button_hide:hover {
  background-color: #195d85;
}

.button_submit:hover {
  background-color: #195d85;
}

.button_submit {
  background-color: #0079BF;
  color: white;
}

.select {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  border: 0;
  border-radius: 5px;
}

.input {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  border: 0;
  border-radius: 5px;
}

.fullCard {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
}

.fullCard__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.fullCard__name {
  margin: 10px 0px;
  border: 0px;
  font-size: 200%;
  resize: none;
}

.fullCard__description {
  margin: 10px 0px;
  border: 0px;
  font-size: 150%;
  resize: none;
  height: 350px;
}

.fullCard__buttons {
  margin: 0 auto;
  display: flex;
  max-width: 80%;
  justify-content: space-between;
}

.button_save {
  padding: 10px;
}

.button_close {
  padding: 10px;
}

.button_save:hover {
  color: #ffffff;
  background-color: #0079BF;
}

.button_close:hover {
  color: #ffffff;
  background-color: #0079BF;
}



@media (max-width: 1200px) {
  .container {
    max-width: 282px;
  }

  .header__container {
    max-width: 282px;
  }

  .kanbanName {
    display: none;
  }

  .header {
    background-color: #0079BF;
  }

  .footer {
    display: none;
  }

  .board {
    flex-direction: column;
    max-width: 282px;
  }

  .column {
    margin: 10px 0px;
  }

  .userMenu {
    position: absolute;
    right: 50px;
    top: 20px;
  }

}